/*common*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header*/
.header-top{
    display: flex;
    justify-content: space-around;
    background-color: orangered;
    border: 1px solid;
    padding: 20px;
}

.logoboolean{
    width: auto;
    height: 30px;
}

/*main*/
.products-list{
    display: flex;
    
}

.card{
    display: flex;
    justify-content: center;
    height: 100px;
    width: calc(100% / 3);
}

.product{
    /*test*/
    width: auto;
    height: 300px;
    border: 1px solid;
 }

.twistimg{
     display: none;
 }

.card:hover .product{
    display: none;
}

.card:hover .twistimg{
    display: inline-block;
}