/*common*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:800 ;
}

/*header*/
.header-top{
    display: flex;
    justify-content: space-around;
    background-color: orangered;
    border: 1px solid;
    padding: 20px;
    color: white;
}

.logoboolean{
    width: auto;
    height: 30px;
}

/*main*/
.products-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: auto;
    padding-top: 40px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 300px;
}

.card{
    display: flex;
    align-self: center;
    padding-bottom: 350px;
    height: 200px;
    width: calc(100% / 3);
    margin-right: 20px;   
}

.product{
    width: auto;
    height: 350px;
    padding-bottom: 50px;
    
}

.twistimg{
     display: none;
 }

.card:hover .product{
    display: none;
}

.card:hover .twistimg{
    display: inline-block;
}